<div class="event">
  <div class="content">
    <div class="summary">
      <div class="ui two column grid">
        <div class="four wide column">
          <em><%= message.user.username %>: </em>
        </div>
        <div class="twelve wide column">
          <h5><%= message.message_body %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
