// Place all the styles related to the chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatroom {
  height: 75vh;
}

.chatroom-navigation {
  min-width: 275px;
}

.chat-column {
  display: flex;
  flex-grow: 100;
}

#message-content {
  overflow: auto;
}