// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-icon {
  background-color: rgb(255, 145, 0);
  width: min-content;
  border-radius: 50%;
}
